.about {
    display: flex;
    align-items: flex-start;
    justify-content: center; 
    min-height: 50vh;
    background-color: #faedf5;
    padding: 60px 0px;
    width: 100%;
}

.bio {
    flex: 1;
    text-align: left;
    font-size: 1.8em;
    color: #000000;
    padding: 50px;
}

.empty {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 100px;
    background-color: #ffffff;
    position: sticky; 
    bottom: 0;
    width: 100%;
}

.image {
    position: relative;
}

.image img {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 10px 10px 10px rgb(26, 26, 26);
    position: absolute; 
    top: 50%;           
    transform: translateY(20%) translateX(-140px); 
    z-index: 10;
}

.social_icons {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    position: sticky; 
    bottom: 0;
    width: 100%;
}

.social_icons a {
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    font-size: 1.7em;
    font-weight: bold;
}

.name {
    flex: 1;
    text-align: center;
    font-family: sans-serif;
    margin-top: 90px;
    margin-left: 140px;
}

.name h1 {
    font-size: 4.0em;
    color: #000000;
}